* {
  margin: 0;
  padding: 0;
}

#main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px 100px;
  background-color: #a5c8e4;
}

#header,
#logo-wrapper {
  min-height: 8vh;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

#content-wrapper {
  min-height: 90vh;
}

#content-toolbar {
  display: flex;
  justify-content: end;
  gap: 20px;
}

#card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 30%));
  grid-auto-rows: 200px;
  justify-content: center;
}

.card {
  background-color: #e4c1a5;
}
