* {
  margin: 0;
  padding: 0;
}

#main-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px 100px;
  background-color: #a5c8e4;
}

#header {
  min-height: 10vh;
}

#content-wrapper {
  min-height: 90vh;
}
